* {
    font-family:"Montserrat", sans-serif;
    box-sizing: border-box;
}

.feedback-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;
    
    border-radius: 8px;
    padding: 24px;
    width: 408px;
    /* background: #fbfbfb; */
}

.form-label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form-txt {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 100%;

    padding: 8px 16px;
    outline: none;
}

.form-txt-input {
    height: 40px;
}

.form-txt-area{
    height: 80px;
}

.form-btn{
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #4e75ff;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-top: 16px;
}

.form-btn:hover,
.form-btn:focus{
    background: #6c8cff;
}

.form-txt,
.form-txt::placeholder {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
}